<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sign In | SmartHire</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <header class="navbar">
    <div class="nav-left">
      <div class="logo"><a href="{{ url_for('home') }}">SmartHire</a></div>
    </div>
     <div class="nav-right">
      <a href="{{ url_for('candidate') }}" class="btn join-btn">Join as Candidate</a>
    </div>
  </header>

  <div class="main-content">
    <div class="left-section">
      <div class="circle-logo">TM</div>
      <p class="idiom">“Smart hiring begins with SmartHire.”</p>
    </div>

    <div class="right-section">
      <h2 class="main-heading">Welcome Back</h2>

      <div class="form-box">
        <h3>Sign In</h3>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <p style="color: {% if category == 'success' %}green{% else %}red{% endif %}; text-align: center;">
                {{ message }}
              </p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('signin') }}">
          <input type="email" name="email" placeholder="Email" required />
          <input type="password" name="password" placeholder="Password" required />
          <button type="submit" class="btn signup-btn">Sign In</button>
        </form>

        <div style="text-align:center; margin-top: 10px;">
          <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
